*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.hero{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff url(./images/background.jpeg);
    background-size: cover;
    padding: 200px 20px;
}
.hero_head{
    background-color:#780000 ;
    width: 300px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    border-radius: 10px;
}
.hero_description{
    background-color:#780000 ;
    width: 350px;
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    border-radius: 10px;
}
.section{
    background: linear-gradient(#780000, #c1121f);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section_head{
    color: #fff;
}
.activities{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 50px;
}
.activity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 10px;
}
.activity img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.activity p{
    text-align: center;
    width: 320px;
    color: #fff;
}
.card{
    width: 400px;
    height: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
    border-radius: 10px;
    margin-top: 100px;
    /* border-bottom: 10px solid #780000; */
    box-shadow: 0px 10px #780000;
}
.card img{
    width: 170px;
    border-radius: 10px;
}
.card_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #c1121f;
}
.card_details p{
    text-align: center;
    line-height: 22px;
    font-style: italic;
}
@media only screen and (max-width: 764px) {
    .activities{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
        margin-top: 50px;
    }

}
@media only screen and (max-width: 900px) {
    .activities{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        margin-top: 50px;
    }

    .activity img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .activity p{
        text-align: center;
        width: 220px;
        color: #fff;
    }
}